.sidebar-filter li:hover {
    background: none !important;
}
.sidebar-filter input {
    height: 30px;
    text-indent: 7px;
    border: 1px solid #CCC;
    width: 97%;
}
.sidebar-filter input:focus {
    outline-color: #F8AD32;
    border-color: #F8AD32;
}

.main .content-container .article-content {
    margin-top: 0;
}

pre code {
    display: block;
    padding: 7px 15px;
    font-size: 14px;
    background-color: #EDEDED;
    border: 1px solid #CCC;
    line-height: 17px;
}

.main .content-container .edit-on-github {
    float: right;
    margin-top: -2px;
}

.icon-list,
.btn {
    font-family: "Source Sans Pro" !important;
}
.icon-list li {
    list-style: none;
    padding-left: 0;
    float: left;
    width: 80px;
    height: 50px;
    background: #BBB;
    text-align: center;
    margin: 5px;
    padding: 10px;
}
.icon-list .ico-after {
    display: block;
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 3px;
}
.icon-list .icon-name {
    display: block;
    clear: both;
    margin-top: 10px;
}

.hint--top {
    cursor: pointer;
}
.hint--top:before,
.hint--top:after {
    left: 5% !important;
}

.ico-after.ico-inline {
    display: inline-block;
    width: 16px;
    height: 16px;
}