<!DOCTYPE html>
<html class="no-js enable-mobile-menu wf-active" lang="fr" ng-app="zdsdocApp">
<head>
    <meta charset="utf-8">

    <title>Documentation | Zeste de Savoir</title>

    <meta name="language" content="fr">
    <meta http-equiv="content-language" content="fr">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">

    <link rel="stylesheet" href="//zestedesavoir.com/static/css/main.min.css">
    <link rel="stylesheet" href="css/main.css">

    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Code+Pro:400,700|Merriweather:400,700' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="IndexCtrl">
    <!--[if lt IE 8]>
        <p class="chromeframe">Vous utilisez un navigateur <strong>dépassé</strong>. Merci de <a href="http://browsehappy.com/">mettre à jour celui-ci</a> pour améliorer votre expérience.</p>
    <![endif]-->

    <div class="mobile-menu" id="mobile-menu"></div>

    <div class="page-container">
        <div class="header-container">
            <header class="clearfix">
                <div class="wrapper">
                    <div class="mobile-menu-btn ico-after"></div>

                    <div class="header-logo">
                        <a href="/#" class="header-logo-link" data-title="Documentation">
                            Documentation de Zeste de Savoir
                        </a>
                    </div>
                </div>
            </header>

            <div class="clearfix sub-header">
                <div class="wrapper breadcrumb">
                    <ol>
                        <li><a href="/#">Documentation</a></li>
                    </ol>
                </div>
            </div>
        </div>


        
        <div class="main-container">
            <div class="main wrapper clearfix">
                <main class="content-container" role="main" id="content">
                    <div class="content-wrapper">
                        <div ng-view></div>
                    </div>
                </main>

                <aside class="sidebar">
                    <div class="mobile-menu-bloc" data-title="Front-end">
                        <h3>Front-end</h3>

                        <ul class="sidebar-filter">
                            <li>
                                <input type="search" ng-model="query" placeholder="Filtrer...">
                            </li>
                        </ul>

                        <div ng-repeat="part in summary">
                            <h4><span class="mobile-menu-link">{{ part.title }}</span></h4>
                            <ul>
                                <li ng-repeat="chapter in part.chapters | filter:query">
                                    <a href="#{{ chapter.file.replace('.md', '') }}">
                                        {{ chapter.title }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="mobile-menu-bloc" data-title="Front-end">
                        <h3>Back-end</h3>

                        <h4><a href="//zds-site.readthedocs.org/" class="mobile-menu-link">Aller à la documentation back-end</a></h4>
                    </div>
                </aside>
            </div>
        </div>



        <footer class="page-footer">
            <div class="wrapper">
                <p>
                    Zeste de Savoir &bull; 2014
                    <span class="version">
                        &bull; <a href="//github.com/zestedesavoir">Organisation Github</a>
                    </span>
                </p>
                <ul>
                    <li><a href="//zestedesavoir.com">Le site</a></li>
                    <li><a href="//github.com/zestedesavoir/zds-site">Dépôt Github</a></li>
                    <li><a href="https://github.com/zestedesavoir/zds-site/blob/dev/LICENSE">Licence</a></li>
                    <li><a href="//zestedesavoir.com/pages/association/">L'association</a></li>
                    <li><a href="//zestedesavoir.com/pages/association/inscription/">Adhérer</a></li>
                    <li><a href="//zestedesavoir.com/pages/contact/">Contact</a></li>
                </ul>
            </div>
        </footer>
    </div>


    <script src="//zestedesavoir.com/static/js/vendors.min.js"></script>
    <script src="//zestedesavoir.com/static/js/main.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/marked/lib/marked.js"></script>
    <script src="bower_components/angular-marked/angular-marked.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>