$color-primary: #2D6108;
$color-secondary: #F8AD32;

$color-body-background: #F7F7F7;
$color-header-hover: #285707;
$color-helpful: #e9f9dc;

$color-header-notifications-count: #c0392b;
$color-header-dropdowns-background: $color-primary;
$color-header-dropdowns-limits: #255007;

$color-sidebar-main: #084561;
$color-sidebar-background: #F0F0F0;
$color-sidebar-hover: #FFF;

$color-success: #459500;
$color-danger: #c0392b;

$color-keyboard: #F8F6EA;
